---
import Head from '../components/head.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Hero from '../components/hero.astro';
import Counting from '../components/counting.astro';
import Services from '../components/services.astro';

import {SITE_TITLE, SITE_DESCRIPTION} from '../constants';
---

<html lang="es">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen bg-slate-50">
    <Header />
    <Hero />
    <main>
      <Counting />
      <Services />
    </main>
    <Footer />
    <script src="../js/main.js"></script>
  </body>
</html>
