---
import Head from '../components/head.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../constants';
---

<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen bg-slate-50">
    <Header />
    <h1>Astro</h1>
    <Footer title="intest" />
    <script src="../js/main.js"></script>
  </body>
</html>
