---
const year = new Date().getFullYear();
---

<footer class="bg-darkblue-300">
  <div class="container mx-auto px-4 py-10 pt-8 pb-20">
    <p class="font-vietnam_pro font-semibold text-xl text-center text-white">
      &copy; intest
      {year} | Todos los derechos reservados
    </p>
  </div>
</footer>
