<section class="container mx-auto my-8 grid grid-flow-row grid-cols-1 sm:grid-cols-2">
  <div class="flex flex-row flex-wrap justify-center mb-8 md:mb-0">
    <div class="sm:mr-4 mr-0">
      <div class="bg-gray-400 sm:h-[310px] sm:w-[260px] mb-4 sm:mx-0 mx-4 rounded-lg">
        <img src="./gallery/estructura-acero.jpg" alt="Estructura en acero" class="rounded-lg">
      </div>
      <div class="bg-gray-400 sm:h-[310px] sm:w-[260px] mb-4 sm:mx-0 mx-4 rounded-lg">
        <img src="./gallery/estructura-en-construccion.jpg" alt="Estructura en acero" class="rounded-lg">
      </div>
    </div>
    <div>
      <div class="bg-gray-400 sm:h-[310px] sm:w-[260px] sm:mx-0 mx-4 mb-4 sm:mt-16 rounded-lg mr-0">
        <img src="./gallery/estructura-hormigon.jpg" alt="Estructura en acero" class="rounded-lg">
      </div>
      <div class="bg-gray-400 sm:h-[310px] sm:w-[260px] sm:mx-0 mx-4 rounded-lg">
        <img src="./gallery/estructura-acero-vidrio.jpg" alt="Estructura en acero" class="rounded-lg">
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full flex-col px-4 sm:w-4/5 sm:px-0">
    <h3 class="relative font-vietnam_pro font-bold text-3xl mb-8 text-darkblue-300 before:w-16 before:h-[1px] before:bg-gray-500 before:absolute before:-bottom-2 before:left-0 before:mt-2">INTEGRAMOS EL MÁXIMO DE NUESTRO CONOCIMIENTOEN CADA UNO DE TUS PROYECTOS</h3>
    <p class="font-vietnam_pro text-gray-500">Trabajamos diariamente en el desarrollo de estructuras económicas, seguras y funcionales. El desarrollo de todos nuestros proyectos se ha caracterizado por los altos niveles de comunicación que mantenemos con nuestros clientes, consiguiendo así, estructuras con un gran valor técnico, eficiencia y mucha satisfacción en nuestros clientes.</p>
  </div>
</section>
